services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev  
    image: django_dev
    container_name: django_dev
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules  
    ports:
      - "8000:8000"  
    environment:
      - PYTHONUNBUFFERED=1  

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev  
    image: react_dev
    container_name: react_dev
    working_dir: /app
    volumes:
      - ./frontend:/app  
      - /app/node_modules  
    ports:
      - "5173:5173"  
    environment:
      - CHOKIDAR_USEPOLLING=true  
    command: sh -c "npm install && npm run dev -- --host"  
